:root, html, body {
    min-width: 100%;
    min-height: 100%;
    flex: 1 0 0;
    margin: 0;
    padding: 0;
}


#dashboard {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.svg-icons {
    width: 25px;
    height: 25px;
}


/* Sidebar area */
#sidebar {
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: 100px repeat(2, 400px);
    padding: 16px;

    background-color: rgba(25, 146, 212);
}

.icon-paragraph {
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

#sidebar h1 {
    font-size: 3rem;

    color: white;
}

#sidebar p {
    font-size: 1.75rem;
    margin: 8px;

    color: white;
}


/* Header area */
#header {
    display: grid; 
    grid-template-rows: 1fr 1fr;
    border: 1px solid #ccc;
    box-shadow: 0 8px 6px -6px black;
    
    background-color: white;
}

#header-top-section {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

#header-bottom-section {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#search-subarea {
    display: grid; 
    grid-template-columns: 1fr 12fr;
    grid-template-rows: 1fr;
    justify-items: flex-start;
    align-items: center;
    padding-left: 24px;

    /* background-color: yellow; */
}

    #search-subarea input {
        width: 300px;
        height: 25px;
        border-radius: 16px;
        border: 2px solid gray;

        background-color: lightgray;
    }

#profile-subarea {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;

    /* background-color: blue; */
}

#name-subarea {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;

    /* background-color: green; */
}

#actions-subarea {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;

    /* background-color: red; */
}

#actions-subarea button {
    width: 125px;
    height: 35px;
    border-radius: 16px;

    background-color: rgba(25, 146, 212);
    
}

/* Main area */
#main-area {
    display: grid;
    grid-template-columns: 2.5fr 1fr;

    background-color: rgb(217, 217, 217);
}

#main-area-projects {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

    #main-area-projects p {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0px;
        margin-left: 32px;
        font-size: 3rem;
    }

    #main-area-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

        #main-area-cards div {
            margin: 32px;
            border-radius: 16px;
            border-left: solid gold 48px;

            background-color: white;
        }

#main-area-subsection {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

    #main-area-subsection p {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0px;
        margin-left: 32px;
        font-size: 3rem;
    }

    #main-area-announcements {
        display: grid;
        grid-template-rows: 8fr 1fr 8fr;
    }

        #main-area-announcements div {
            margin: 32px;
            border-radius: 16px;

            background-color: white;
        }

        #main-area-announcements p {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0px;
            margin-left: 32px;
            font-size: 3rem;
        }



/* Footer area */
#footer {
    grid-column: 1 / 3;
    background-color: black;
}