:root, html, body {
    min-width: 100%;
    min-height: 100%;
    flex: 1 0 0;
    margin: 0;
    padding: 0;
}

#dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

#sidebar {
    grid-row: 1 / 3;
    background-color: red;
}

#header {
    background-color: lightblue;
}

#main-area {
    background-color: purple;
}

#footer {
    grid-column: 1 / 3;
    background-color: greenyellow;
}